%p{
  line-height: 17px;
}
%violet{
  color: #861391;
}

.individual{
  background: #97b5d6 url(./../../../img/individual.jpg)no-repeat center top/cover;
  h2{
    font-size: 42px;
  }
  ul{
    list-style: none;
  }
  .wrapTitle{
    margin: 40px 0 70px;
    .violet:after{
      content: '';
      display: block;
      width: 179px;
      height: 2px;
      background: #292929;
      margin-top: -56px;
      margin-left: 83%;
    }
  }
  .levelTitleNth{
    margin: 75px 0;
    padding-top: 0;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
.levelWrap{
  width: max-content;
  margin-bottom: 30px;
  .levelWrapTitle {
    margin-bottom: 20px;
  }
  .wrapDeck{
    width: 177px;
  }
}

.levelTitle.nth{
  margin-left: 20px;
  padding-top: 56px;
  margin-bottom: 68px;
}
.individual .levelTitle{
  margin-left: 0;
}
.individual .levelTitle.nth{
  margin: 75px auto;
  padding-top: 0;
}
.classesWrap{
  width: 50%;
  .classesWrapTitle{
    margin: 35px 0;
  }
  ul{
    padding-left: 17px;
    li{
      line-height: 65px;
      p{
       //@extend p;
      }
    }
  }
}
.advantagesWrap{
  width: 43%;
  background: #c2c1c7a6;
  padding: 30px 40px;
  margin-left: 50px;
  .benefistWrapTitle{
    margin-top: 5px;
  }
  li{
    line-height: 65px;
    p{
      //@extend p;
    }
  }
  .benefistWrapText{
    font-size: 20px;
    margin: 50px 0;
    //@extend violet;
  }
}

