.ui.menu,.ui.attached.menu:not(.tabular){
	background: transparent;
	border: none;
}
.header{
	color: #fff;
	position: absolute;
	padding: 10px 0;
	margin: 0 auto;
	width: 100%;
}
button .menu-toggle{
	display: none;
}
.header nav ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 100%;
	height: 70px;
    align-items: center;
}
.header nav li a,.header span{
	/*color: #fff;*/
	text-decoration: none;
	padding-left: 6px;
}
.header p,.header a,.header i,.header span{
	color: #fff;
}
.logo{
	height: 61px;
	width: 150px;
}
.collapse.navbar-collapse{
	/*width: 395px;
	float: right;*/
	margin-left: 430px;
}
.flagwrep{

}
.flag img{
	width: 30px;
	height: 20px;
	margin-right: 17px;
}
.nav-link a{
	padding-top: 5px;
}
.flag{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
}
.dropdown-toggle::after{
	margin-top: 16px;
	color: #fff;
}
.dropdown-menu,.dropdown-item:focus, .dropdown-item:hover{
	background-color: transparent;
}
.modal.fade.show .modal-content{
    background-color: #8faed3;
}
.modal-body .send.send-form{
	display: block;
	margin: 0 auto 30px;
}



.f1{
	top: 48%;
    left: 58%;
    z-index: 1;
}
.f2{
	top: 30%;
    left: 32%;
}





.violet{
	color: #861391;
}
.wrap-title span.violet{
	letter-spacing: 0.3em;
	margin-left: 14px;
}

.classes-wrep:after{
	content: '';
    display: block;
    width: 179px;
    height: 2px;
    background: #292929;
    margin-top: 233px;
}


.collective .wrap-title{
	padding-top: 40px;
}
.collective__wrep{

}
.collective__wrep i{
	font-size: 45px;
	margin-top: 55px;
	margin-bottom: 40px;
}


.sign{
	background: #97b5d6 url(../img/form.jpg)no-repeat center top/cover;
	text-align: center;
}
.form input, .form label{
	display: block;
	width: 90%;
    margin: 25px auto;
    height: 40px;
    border-radius: 4px;
    border: none;
   
}
.form input{
	 padding-left: 15px;
}
.send-form{
	background: #c2c1c7;
	width: 90%;
    border: none;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 0.3em;
    font-weight: 700;
    margin: 0 auto 158px;
}
.form p, .sign p, .sign h2{
	color: #fff;
	text-shadow: 1px 1px 1px #000000a1;
}



.multi-carousel{overflow:hidden}
.multi-carousel .carousel-control-prev,.multi-carousel .carousel-control-next{background:rgba(255,255,255,0.5);width:5%}
.multi-carousel .carousel-inner{width:310%;left:-80%}
.carousel-inner .carousel-item-right.active,.carousel-inner .carousel-item-next{transform:translateX(75%)}
.carousel-inner .carousel-item-left.active,.carousel-inner .carousel-item-prev{transform:translateX(-75%)}
.carousel-inner .carousel-item-right,.carousel-inner .carousel-item-left{transform:translateX(0)}
/*.item-third{float:left;width:25%;background-size:cover;height:auto}
*/ .item-third:nth-child(1),.item-third:nth-child(3){
 	width: 48%;
    /*height: 324px;*/
    overflow-y: hidden;
    /*opacity: 0.8;*/
    /*margin-top: 11%;*/
    position: absolute;
    z-index: 0;
    top: 5%;
    height: 311px;
 }
 .item-third:nth-child(1){
 	margin-left: 0%;
 }
 .item-third:nth-child(3){
 	margin-left: 51%;
 }
 .item-third:nth-child(2){
 	/*width: 65%;*/
    z-index: 999;
    margin: 10% auto;
 }
 .carousel-item-next, .carousel-item-prev, .carousel-item.active{

 }
.rewievs__block_data{
	padding-left: 20px;
}
.rewievs__block_data h6{
	margin: 30px 0;
}
.rewievs__block_wrep img{
	width: 200px;
    height: 140px;
    overflow: hidden;
}
.rewievs__block_desk p{
	/*width: 450px;*/
	padding: 45px 0;
}

.footer{
	background: #2a456e;
	color: #000;
}
.fl-wrepp{
	width: 300px;
}
.footer-ask{
	margin: 15px auto;
}
.footer-logo{
	width: 200px;
}
.footer .container{
	padding-top: 40px;
}
.footer-sotial{
	margin-top: 40px;
}
.footer-sotial a,.phone a,.mail a,.schedule-wrap__item{
	color: #000;
	font-weight: 600;
}
.footer-sotial a i{
	font-size: 30px;
	padding-right: 10px;
}
.footer-sotial a p{
	margin-bottom: 0;
	margin-left: auto;
	margin-top: 10px;
}
.footer-desk h5{
	padding-bottom: 30px;
}
.footer-desk, .footer-contacts{
	margin-top: 106px;
}
.footer-contacts{
	width: 200px;
}
.footer-desk ul{
	list-style: none;
}
.mail a{
	padding-top: 11px;
    padding-left: 25px;
}
.footer-contacts img{
	width: 40px;
	height: 43px;
	margin-top: 30px;
    margin-right: 20px;
}
.phone{
	margin-top: 20px;
}
.phone__wrap{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-left: 35px;
}
.mail i, .phone i{
	font-size: 35px;
}
.navbar-collapse.collapse.show{
	position: relative;
}
.navbar-collapse.collapse.show ul{
	background: #c2c1c7;
	position: absolute;
	height: auto;
	z-index: 99;
}
.navbar-collapse.collapse.show li{
	margin: 30px auto;
}
.navbar-light .navbar-toggler{
	color: #fff;
	border: transparent;
}
.offer__btn_wrep_btn p{
	margin-bottom: 0;
}

/* -	----- Media Queries ------ */
/*.col-xl-*/
/* 992-1200px  .col-lg- */
@media screen and (max-width: 1199.98px) {
	.collapse.navbar-collapse {
	    margin-left: auto;
	}
	.offer__foto{
		width: 175px;
	}
	.f2 {
    top: 19%;
    left: 32%;
	}
	.box-gray{
	    margin-top: -29%;
	}
}
@media screen and (max-width: 1199.98px) {
	.wrap-title img{
		margin-top: 36px;
		opacity: 0.8;
	}
	.navbar-nav li{
		opacity: 0;
	}
	.navbar-collapse.collapse.show li{
		opacity: 1;
	}
}
/* 768-992px .col-md-*/
@media screen and (max-width: 991.98px) {
	.offer__btn_wrep{
		width: 100%;
	}
	.offer__foto{
		display: none;
	}
	.individual .wrap-title .violet:after{
		margin-top: -10px;
    	margin-left: 41%;
	}
}

/* 576-768px .col-sm-*/
@media screen and (max-width: 767.98px) {
	
	.classes-wrep:after{
		margin-top: 44px;
    	margin-left: 73%;
	}
	.benefist-wrep{
	    margin: 10%;
	}
}
@media screen and (max-width: 676.98px){
	.wrap-title img,.classes-wrep:after,.individual .wrap-title .violet:after{
		display: none;
	}
	.level-title{
		margin-left: 0;
	}
	.level .container {
    padding-top: 40%;
	}
}
/* 320-576px .col-*/
@media screen and (max-width: 575.98px) {
	.offer__btn_wrep{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.level{
		background: transparent;
	}
	.level .container {
    	padding-top: 75%;
	}
	.footer-desk, .footer-contacts{
		width: 295px;
    	margin: 10% auto;
	}
	.box-gray{
		left: 0;
		right: 0;
		margin-top: -44%;
	}
	.box-gray .offer__btn_wrep_btn,.form input,.send-form,.fl-wrepp{
		width: 100%;
	}
	.offer_header{
		font-size: 47px;
	}
	h2 {
	    font-size: 33px;
	}
	.offer__btn_wrep_btn{
		width: 100%;
		text-align: center;
	    line-height: 14px;
	}
}
@media screen and (max-width: 399.98px) {
	.level .container{
		padding-top: 170%;
	}
	.box-gray,.benefist-wrep{
		padding: 1em;
	}
	.send-form{
		margin-bottom: 75px;
	}
}

.ui.menu .dropdown.item .menu{
	background: #5f7392!important;
}


