.container{
  width: 80%;
  margin: 55px auto 30px;
}
.itemVerb{
  width: 230px;
  margin: 20px 10px;
  background: #5f7392;
  border-radius: 3px;
  padding: 10px 5px;
  //height: 144px;
}
.wrapVerbs,.wrapWords{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.errorWr{
  background: deeppink;
}
.status{
  opacity: 0.7;
}
.block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  height: 90px;
  width: 100%;
}
.blockBtn{
  margin: 12px auto;
}