.container{
  width: 80%;
  margin: 55px auto 30px;
}
.itemVerb{
  width: 230px;
  margin: 20px 10px;
  background: #5f7392;
  border-radius: 3px;
  padding: 10px 5px;
  //height: 144px;
}
.wrapVerbs,.wrapWords{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.errorWr{
  background: deeppink;
}